body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}
.container {
    flex-basis:1158px;
    display:flex;
    flex-direction: column;
    padding-left:0;
    padding-right:0; 
    margin-left:0;
    margin-right:0;
}
main {
    flex-grow:1
}
.header {
    background-color: #FFFFFF;
    display:flex;
    justify-content: space-evenly;
    flex-shrink:0;

    
}
ul {
    list-style: none;
}
.header-list {
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;
}
.nav {
    display: flex;
}
.logo-header {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.logo-header-span {
    color: #2e2f42;
}
.nav-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-item:hover {
    color: #404BBF;
}
.nav-item:active {
    color: #404BBF;
    text-decoration: underline;
}
.nav-item:focus {
    color: #404bbf;
}
.address-style {
    font-style: normal;
}
.address-item {
    text-decoration: none;
    color: #434455;
}
.address-item:hover {
    color: #404BBF;
}
.address-item:focus {
    color: #404bbf;
}
.section-one {
    background: #2E2F42;
}
.heading-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.heading-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.heading-one {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 0.02em;
}
.button-style {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}
.button-style:hover {
    background: #404BBF;

}
.button-style:focus {
    background-color: #404BBF;
}
.paragraph {
    color: #434455;
    font-size: 16px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-two-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
}
.section-three {
    background-color: #F4F4FD;
}
.section-three-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: center;
}
.section-three-item {
    background-color: #FFFFFF;
}
.section-three-item > h3, .section-three-item > p {
    text-align: center;
}
.section-four-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    
}
.section-four-list > li {
flex-basis: 33%;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-footer-span {
    color: #f4f4fd;
}
.footer {
    background: #2E2F42;
}
.footer-paragraph {
    color: #F4F4FD;
}