*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    margin:0;
}
.container {
    flex-basis:1158px;
    display:flex;
    flex-direction: column;
    padding-left:0;
    padding-right:0; 
    margin-left:0;
    margin-right:0;
}
main {
    flex-grow:1
}
.header {
    background-color: #FFFFFF;
    display:flex;
    justify-content: space-evenly;
    flex-shrink:0;
    border-bottom: 1px solid #E7E9FC;
}

ul {
    list-style: none;
}
.header-list {
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;
}
.nav {
    display: flex;
}
.logo-header {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.logo-header-span {
    color: #2e2f42;
}
.nav-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-item:hover {
    color: #404BBF;
}
.nav-item:active {
    color: #404BBF;
    text-decoration: underline;
}
.nav-item:focus {
    color: #404bbf;
}
.address-style {
    font-style: normal;
}
.address-item {
    text-decoration: none;
    color: #434455;
}
.address-item:hover {
    color: #404BBF;
}
.address-item:focus {
    color: #404bbf;
}
.section-one {
    background: #2E2F42;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.heading-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin:0;
}
.heading-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.heading-one {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    letter-spacing: 0.02em;
    width: 100%;
}
.button-style {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}
.button-style:hover {
    background: #404BBF;

}
.button-style:focus {
    background-color: #404BBF;
}
.paragraph {
    color: #434455;
    font-size: 16px;
}
.section {
    padding: 120px 156px;
}
.section-two-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.section-two-list li {
    display: flex;
    flex-basis: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.section-three {
    background-color: #F4F4FD;
}
.section-three-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: nowrap;
    justify-content: center;
}
.section-three-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 gap: 32px;
}
.section-three-item > h3, .section-three-item > p {
    text-align: center;
}
.section-three-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.img-wrapper-three {
    width:264px;
    flex-basis: 264px;
}
.img-wrapper-three img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-four-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 38px;
    
}
.section-four-list > li {
   flex-basis: calc((100% - 76px)/3);
display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}
.section-four-item-text {
    display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
}
.img-wrapper-four {
    width: 360px;
    flex-basis: 360px;
}
.img-wrapper-four img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-footer-span {
    color: #f4f4fd;
}
.footer {
    background: #2E2F42;
    display: flex;
    flex-direction: column;
    flex-basis: 312px;
    justify-content: center;
    padding-left: 156px;
    width: 100%;
        height: 312px;
        flex-shrink: 0;

}
.footer-paragraph {
    color: #F4F4FD;
    width: 264px;
}